<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Authors</title>
<body>

<div ng-app="myApp" ng-controller="namesCtrl">

    <p>Type a letter in the input field:</p>

    <p><input type="text" ng-model="test"></p>

    <ul>
        <li ng-repeat="x in names | filter:test">
            {{ x }}
        </li>
    </ul>

</div>

<script>
    angular.module('myApp', []).controller('namesCtrl', function($scope) {
        $scope.names = [
            'Bartis Attila',
            'Bálint Ágnes',
            'Békés Pál',
            'Bodor Ádám',
            'Böszörményi Gyula',
            'Csukás István',
            'Darvasi László',
            'Esterházy Péter',
            'Faludy György',
            'Fodor Sándor',
            'Forgách András',
            'Garaczi László',
            'Gerlóczy Márton',
            'Görgey Gábor',
            'G. Szabó Judit',
            'Jókai Anna',
            'Karinthy Márton',
            'Kálnay Adél',
            'Kárpáti Andor',
            'Kertész Ákos',
            'Kertész Imre',
            'Krasznahorkai László',
            'Konrád György',
            'Lázár Ervin',
            'Lengyel Péter',
            'Lőrincz L. László',
            'Moldova György',
            'Müller Péter',
            'Nádas Péter',
            'Nógrádi Gábor',
            'Őz Zsolt',
            'Parti Nagy Lajos',
            'Rácz Zsuzsa',
            'Rakovszky Zsuzsa',
            'Réz András',
            'Salamon Pál',
            'Salinger Richárd',
            'Sohonyai Edit',
            'Spiró György',
            'Schwajda György',
            'Szabó Magda',
            'Szepes Mária',
            'Szilágyi István',
            'Temesi Ferenc',
            'Tornyai János',
            'Varró Dániel',
            'Vavyan Fable',
            'Vámos Miklós',
            'Závada Pál'

        ];
    });
</script>

<p>The list will only consists of names matching the filter.</p>


</body>
</html>