<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Books</title>
<style>
    input.ng-invalid {
        background-color: lightblue;
    }
</style>

<body>

<p>Please enter the datas.</p>

<div ng-app="myApp" ng-controller="myCtrl"
     ng-init="options=['A fekete macska','Az elveszett lelegzet','Elfeledett tortenetek']"
     ng-controller="namesCtrl">

    Author: <input type="text" ng-model="value1"><br>
    Title: <input type="text" ng-model="value2"><br>
    <br>
    Data sheet of the book <br> {{value1 + " : " + " " + value2}}
    <br>
    Quantity: <input type="number" ng-model="quantity" required><br>
    <p>Total in euro: {{quantity * 5}}</p>
    <p>Choose the color of the mug you'll get as a gift!</p>
    Color: <input type="color" ng-model="color">


    <p>Books from the author :</p>
    <ul>
        <li ng-repeat="x in options">
            {{ x }}
        </li>
    </ul>

    <p>Please enter your e-mail address</p>
    <form ng-app="myApp" name="myForm">
        Email:
        <input type="email" name="myAddress" required ng-model="text">
        <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
    </form>

    <p>Other authors:</p>
    <ul>
        <li ng-repeat="x in names | orderBy:'country'">
            {{ x.name + ', ' + x.country }}
        </li>
    </ul>
    <script src="authors.js"> </script>
    <!-- valamiert nem irja ki -->

</div>
<script src="konyv.js"> </script>






<!--
<p>Choose the color of your mug what you get in gift with the book :</p>
<div ng-app="myApp" ng-init="myCol='royalblue'">
 <input style="background-color: royalblue{{myCol}}" ng-model="myCol">
 </div>
<p>The background color of the input box will be whatever you write in the input field.</p>
-->

</body>
</html>
