<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<title>Vers</title>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <p>Egy versreszletet osztok meg soronkent veletek:</p>

    <h1>{{myHeader}}</h1>

</div>


<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope, $timeout) {
        $scope.myHeader = "S mély homályba elmeredten, szívvel, mely csodákra retten,";
        $timeout(function () {
            $scope.myHeader = "Látást vártam, milyet gyáva földi álom sohse tár,";
        }, 4000);

    });
</script>

</body>
</html>